/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/* изменение боксовой модели */
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #333333;
  margin: 0;
}

/* ========= подстраховка от измеения размера картинок в исходниках и разметке ========== */
img {
  max-width: 100%;
  height: auto;
}

/* Скрытые элементы */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  overflow: hidden;
}

/* Обнуление списков */
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ============ Общие классы ============ */
.button {
  display: inline-block;
  margin: 0;
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  word-wrap: break-word;
}

.button:hover {
  background-color: #615048;
}

.button:focus-visible {
  background-color: #615048;
  outline: none;
}

@supports not selector(:focus-visible) {
  .button:focus {
    background-color: #615048;
    outline: none;
  }
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled,
.button-disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.button-light {
  background-color: #82b3d3;
}

.button-light:hover {
  background-color: #68a2ca;
}

.button-light:focus-visible {
  background-color: #68a2ca;
}

@supports not selector(:focus-visible) {
  .button-light:focus {
    background-color: #68a2ca;
  }
}

.button-light:active {
  background-color: #82b3d3;
}

.button-light:disabled {
  background-color: #e5e5e5;
}

.button-transparent {
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 4px;
}

.button-transparent:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.button-transparent:focus-visible {
  background-color: transparent;
  border-color: #83b3d3;
}

@supports not selector(:focus-visible) {
  .button-transparent:focus {
    background-color: transparent;
    border-color: #83b3d3;
  }
}

.button-transparent:active {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.button-transparent:disabled {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.1);
}

.field {
  width: 100%;
  height: 48px;
  padding: 12px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.field:focus-visible {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px #83b3d3;
  box-shadow: 0 0 0 3px #83b3d3;
}

@supports not selector(:focus-visible) {
  .field:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 3px #83b3d3;
    box-shadow: 0 0 0 3px #83b3d3;
    z-index: 5;
    position: relative;
  }
}

.field:focus-visible:not(:-moz-placeholder-shown) {
  box-shadow: 0 0 0 2px inset #000000;
}

.field:focus-visible:not(:-ms-input-placeholder) {
  box-shadow: 0 0 0 2px inset #000000;
}

.field:focus-visible:not(:placeholder-shown) {
  -webkit-box-shadow: 0 0 0 2px inset #000000;
  box-shadow: 0 0 0 2px inset #000000;
}

.field::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.field::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.field:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.field::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

/* =========== отключить стрелки при вводе чисел ============ */
/* для браузера Chrome: */
.field[type="number"]::-webkit-outer-spin-button,
.field[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* для браузера Firefox: */
.field[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
/* ============================================ */

.page-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.page-text {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.navigation-link-current {
  pointer-events: none;
  position: relative;
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #756257;
  left: 16px;
  right: 16px;
  bottom: -1px;
}

/* ============ wrapper ============ */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* ============ Header ============ */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  padding: 0 70px;
  z-index: 1;
}

.page-header-logo {
  width: 140px;
  height: 70px;
  margin-right: 28px;
  display: block;
  margin-bottom: -6px;
  outline: none;
  color: #83b3d3;
  fill: currentColor;
}

.page-header-logo:hover {
  color: #68a2ca;
}

.page-header-logo:focus-visible {
  color: #68a2ca;
}

@supports not selector(:focus-visible) {
  .page-header-logo:focus {
    color: #68a2ca;
  }
}
.page-header-logo:active {
  color: rgba(104, 162, 202, 0.3);
}

.page-header-logo[aria-current] {
  pointer-events: none;
}

/* ============ Главное меню ============ */
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 500px;
  margin-right: auto;
}

.navigation-item:nth-child(3) .navigation-link {
  padding-left: 17px;
}

.navigation-link {
  padding: 20px 16px;
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  outline: none;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link:focus-visible {
  color: #756157;
  outline: none;
}

@supports not selector(:focus-visible) {
  .navigation-link:focus {
    color: #756157;
    outline: none;
  }
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

/* ============ Меню пользователя ============ */
.navigation-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 20px;
  max-width: 176px;
}

.navigation-user-link {
  position: relative;
  width: 44px;
  min-height: 64px;
  padding: 22px 12px;
  background-position: center;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  fill: currentColor;
}

.navigation-user-link:hover {
  color: #756157;
}

.navigation-user-link:focus-visible {
  color: #756157;
}

@supports not selector(:focus-visible) {
  .navigation-user-link:focus {
    color: #756157;
  }
}

.navigation-user-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.favorite-badge {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20px;
  min-height: 20px;
  font-size: 10px;
  line-height: 10px;
  padding: 2px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
  top: 11px;
  left: 20px;
}

.navigation-button {
  padding: 8px 20px;
  margin-top: 14px;
  /* ? min-width переполнение ? */
  width: 160px;
}

/* ============ Main ============ */
.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.hero {
  position: relative;
  padding: 50px 70px 83px;
}

.hero::after {
  content: "";
  background-image: url("../img/svg/divider.svg");
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1200px;
  height: 57px;
}

.hero-welcome {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 458px;
  height: 352px;
  display: block;
}

/* ============ Преимущества ============ */
.card {
  width: 400px;
  min-height: 385px;
  text-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.chapter-container {
  text-align: center;
}

.advantages .chapter-container {
  padding: 69px 70px 90px;
}

.advantages-title {
  margin-bottom: 25px;
}

.advantages-list,
.services-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
  word-break: break-word;
}

.advantages-item:not(.advantages-item-full):nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.122);
}

.advantages-item-full {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-full .card-title {
  color: #ffffff;
}

.advantages-item-full .advantages-text {
  padding-top: 102px;
}

.advantages-text {
  padding: 113px 85px 102px;
}

.card-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.advantages .card-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-full .card-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.card-text {
  margin: 0;
  line-height: 21px;
}

.advantages-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

.advantages-item-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/* ============ Сервис ============ */
.services .chapter-container {
  padding: 64px 70px;
}

.services-title {
  margin-bottom: 20px;
}

.services-item {
  background-color: rgba(131, 179, 211, 0.12);
  background-repeat: no-repeat;
  background-position: top 81px center;
  word-break: break-word;
}
.services-item:nth-child(2n) {
  background-color: #ffffff;
}

.services-item-home {
  background-image: url("../img/svg/home.svg");
}

.services-item-food {
  background-image: url("../img/svg/food.svg");
}

.services-item-souvenirs {
  background-image: url("../img/svg/souvenir.svg");
}

.services-text {
  padding: 183px 85px 80px 85px;
}

/* ============ Поиск гостиниц ============ */
.search-form {
  text-align: center;
  padding: 96px 70px;
}

.search-form-title {
  margin-bottom: 20px;
}

.search-form-annotation {
  margin-bottom: 54px;
}

.search-form-button {
  width: 376px;
  font-size: 20px;
  line-height: 36px;
}
/* ============ Страница каталога ============ */
.inner-header {
  padding: 35px 70px 67px;
  background-image: url(../img/background-inner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #82b3d3;
  color: #ffffff;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0 0 8px;
}

/* ============ Хлебные крошки ============ */
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  background-image: url("../img/svg/arrow-right.svg");
  background-position: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -17px;
  width: 6px;
  height: 10px;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
  outline: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:not(.breadcrumbs-link-current):focus-visible {
  opacity: 0.6;
}

@supports not selector(:focus-visible) {
  .breadcrumbs-link:not(.breadcrumbs-link-current):focus {
    opacity: 0.6;
  }
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link-home {
  background-image: url("../img/svg/house-breadcrumbs.svg");
  width: 13px;
  height: 15px;
  text-align: center;
  background-position: center;
}

.breadcrumbs-link-current {
  pointer-events: none;
}

/* ============ Фильтры ============ */
.catalog-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 70px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
  max-width: 191px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
  padding: 0;
}

.control-item {
  outline: none;
}

.control-item:not(:last-child) {
  margin-bottom: 16px;
}

.control-item:hover {
  opacity: 0.6;
}

.control-label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  outline: none;
}

.control-input {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  width: 20px;
  height: 20px;
}

.control-input:focus-visible {
  -webkit-box-shadow: 0 0 0 3px #83b3d3;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

@supports not selector(:focus-visible) {
  .control-input:focus {
    -webkit-box-shadow: 0 0 0 3px #83b3d3;
    box-shadow: 0 0 0 3px #83b3d3;
    outline: none;
  }
}

.control-item:active {
  opacity: 0.3;
}

.control-input[type="checkbox"] {
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked:after {
  position: absolute;
  content: "";
  background-image: url("../img/svg/tick.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.control-input[type="radio"] {
  border-radius: 50%;
}

.control-input[type="radio"]:checked:after {
  position: absolute;
  content: "";
  background-color: #3f5e72;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.control-text {
  line-height: 23px;
  padding-left: 16px;
}

/* ============ Движки ============ */
.catalog-filter-group-radio {
  padding-left: 1px;
}

.catalog-filter-group-prise {
  width: 100%;
  max-width: 288px;
  margin-left: auto;
}

/* гриды 40 минут */
.price-input-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  margin-bottom: 44px;
}

.price-item {
  position: relative;
}

.price-label {
  color: rgba(0, 0, 0, 0.3);
  line-height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 11px 20px;
  z-index: 10;
}

.price-input {
  padding: 10px 50px 10px 20px;
}

.price-input:focus-visible {
  z-index: 5;
  position: relative;
}

@supports not selector(:focus-visible) {
  .price-input:focus {
    z-index: 5;
    position: relative;
  }
}

.price-min {
  border-radius: 4px 0 0 4px;
}

.price-max {
  border-radius: 0 4px 4px 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}
.range-progress {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -8px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.range-toggle:hover {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  outline: none;
}

.range-toggle:focus-visible {
  -webkit-box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.25),
    0 0 0 3px #83b3d3;
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.25),
    0 0 0 3px #83b3d3;
  outline: none;
}

@supports not selector(:focus-visible) {
  .range-toggle:focus {
    -webkit-box-shadow:
      0 4px 10px rgba(0, 0, 0, 0.25),
      0 0 0 3px #83b3d3;
    box-shadow:
      0 4px 10px rgba(0, 0, 0, 0.25),
      0 0 0 3px #83b3d3;
    outline: none;
  }
}

.range-toggle:active {
  -webkit-box-shadow: 0 0 0 2px #83b3d3;
  box-shadow: 0 0 0 2px #83b3d3;
  outline: none;
}

.toggle-min {
  left: 0;
}
.toggle-max {
  right: 0;
}

.catalog-filter-group-buttons {
  text-align: center;
}

.catalog-filter-group-buttons button {
  width: 100%;
}

.filter-cubmit {
  margin: 56px 0 29px;
}

/* ============ Каталог гостиниц ============ */
.catalog {
  padding: 49px 69px 60px;
}

/* ============ Результаты отбора ============ */
.catalog-outcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.outcome-subtitle {
  text-align: left;
  margin-right: auto;
  margin-bottom: 0;
  padding-left: 1px;
}

.outcome-select {
  width: 292px;
  height: 49px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  cursor: pointer;
  padding: 10px 40px 9px 19px;
  background-image: url("../img/svg/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 17px top 19px;
  /* убираем стрелочку у select */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 71px;
}

.outcome-select:hover {
  border-color: #68a2ca;
}

.outcome-select:focus-visible {
  border-color: #68a2ca;
  outline: none;
}

@supports not selector(:focus-visible) {
  .outcome-select:focus {
    border-color: #68a2ca;
    outline: none;
  }
}
.outcome-select:disabled {
  opacity: 0.3;
}

.outcome-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.view-item:not(:last-child) {
  margin-right: 8px;
}

.view-link {
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: left 13px center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-link:hover {
  border-color: #000000;
}

.view-link:focus-visible {
  border-color: #68a2ca;
  outline: none;
}

@supports not selector(:focus-visible) {
  .view-link:focus {
    border-color: #68a2ca;
    outline: none;
  }
}

.view-link:active {
  border-color: #000000;
}

.view-link-tile {
  background-image: url("../img/svg/view-tile.svg");
  background-position: left 14px center;
  margin-right: 1px;
}

.view-link-current {
  pointer-events: none;
  border-color: #000000;
}

.view-link-slide {
  background-image: url("../img/svg/view-slide.svg");
}

.view-link-list {
  background-image: url("../img/svg/view-list.svg");
}

/* ============ Карточки гостиниц ============ */
.catalog-hotels {
  border-bottom: 1px solid #e6e6e6;
}

.catalog-hotels-list {
  padding: 40px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 18px 1fr 18px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.hotel-card {
  position: relative;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 20px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -ms-flex-line-pack: start;
  align-content: start;
}

.hotel-card:focus-within,
.hotel-card:hover {
  -webkit-box-shadow: 0 0 3px 3px #e5e3e3;
  box-shadow: 0 0 3px 3px #e5e3e3;
}

.hotel-card .button {
  display: block;
  padding: 8px 8px;
  margin-top: -1px;
}

.hotel-card-link {
  text-decoration: none;
  grid-column: 1/-1;
  color: #000000;
}

.hotel-card-link:focus-visible,
.hotel-card-link:hover {
  outline: none;
  color: #756157;
}

@supports not selector(:focus-visible) {
  .hotel-card-link:focus,
  .hotel-card-link:hover {
    outline: none;
    color: #756157;
  }
}

.hotel-card-link:active {
  opacity: 0.3;
}

.hotel-card-image {
  display: block;
  width: 100%;
  margin-bottom: 17px;
}

.hotel-card-link:focus-visible .hotel-card-image,
.hotel-card-link:hover .hotel-card-image {
  opacity: 0.8;
  outline: none;
}

@supports not selector(:focus-visible) {
  .hotel-card-link:focus .hotel-card-image,
  .hotel-card-link:hover .hotel-card-image {
    opacity: 0.8;
    outline: none;
  }
}

.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.catalog-text {
  margin: 0;
}

.hotel-card-price {
  text-align: end;
}

.hotel-card-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 140px;
  padding: 10px 0;
}

.hotel-card-stars-item {
  display: inline-block;
  background-image: url("../img/svg/star.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
}

.hotel-card-stars-item:not(:last-child) {
  margin-right: 6px;
}

.hotel-card-rating {
  width: 140px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 8px 22px 8px 23px;
  text-align: center;
}

.button-favorite-current {
  background-color: #7db54f;
}

.button-favorite-current:hover {
  background-color: #6c9e42;
}

.button-favorite-current:focus-visible {
  background-color: #6c9e42;
}

@supports not selector(:focus-visible) {
  .button-favorite-current:focus {
    background-color: #6c9e42;
  }
}

.button-favorite-current:disabled {
  background-color: #e5e5e5;
}

/* ============ Пагинация ============ */
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 38px;
  gap: 8px;
  padding-left: 1px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 60px;
  max-width: 200px;
  min-height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
}

.pagination-link:not(.pagination-link-dots, .pagination-link-current):hover {
  background-color: #68a2ca;
}

.pagination-link:not(.pagination-link-dots, .pagination-link-current):focus-visible {
  background-color: #68a2ca;
  outline: none;
}

@supports not selector(:focus-visible) {
  .pagination-link:not(.pagination-link-dots, .pagination-link-current):focus {
    background-color: #68a2ca;
    outline: none;
  }
}

.pagination-link:not(.pagination-link-dots, .pagination-link-current):active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
  pointer-events: none;
  border-color: #f2f2f2;
}

.pagination-link-dots {
  background-color: transparent;
  color: #000000;
  outline: none;
  border-color: #ffffff;
  letter-spacing: 1px;
}
.pagination-link-dots:hover {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.pagination-link-dots:focus-visible {
  background-color: #f2f2f2;
  outline: none;
}

@supports not selector(:focus-visible) {
  .pagination-link-dots:focus {
    background-color: #f2f2f2;
    outline: none;
  }
}

.pagination-link-dots:active {
  color: rgba(0, 0, 0, 0.3);
}
/* ============ Подписка ============ */
.subscribe {
  text-align: center;
  padding: 96px 70px 104px;
}

.subscribe-index {
  background-image: url("../img/background-subscribe.jpg");
  background-size: cover;
  background-color: #5c84ab;
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscribe-title {
  margin-bottom: 20px;
}

.subscribe-index .subscribe-title {
  color: #ffffff;
}

.subscribe-annotation {
  margin-bottom: 55px;
}

.subscribe-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
  max-width: 684px;
  margin: 0 auto;
}

.subscribe-input::-webkit-input-placeholder {
  font-weight: 400;
}

.subscribe-input::-moz-placeholder {
  font-weight: 400;
}

.subscribe-input:-ms-input-placeholder {
  font-weight: 400;
}

.subscribe-input::-ms-input-placeholder {
  font-weight: 400;
}

.subscribe-input::placeholder {
  font-weight: 400;
}

.subscribe-input {
  border-radius: 4px 0 0 4px;
  height: 100%;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  width: 232px;
}

/* ============ Подвал ============ */
.page-footer {
  padding: 40px 70px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.page-footer-social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  padding: 5px 0;
}

.social-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 47px;
  height: 40px;
  outline: none;
  color: #83b3d3;
  fill: currentColor;
}

.social-link:hover {
  color: #68a2ca;
}

.social-link:focus-visible {
  color: #68a2ca;
  outline: none;
}

@supports not selector(:focus-visible) {
  .social-link:focus {
    color: #68a2ca;
    outline: none;
  }
}

.social-link:active {
  color: rgba(104, 162, 202, 0.3);
  outline: none;
}

.social-link-tg {
  padding-left: 1px;
}

.social-link-yt {
  padding-left: 2px;
}

.page-footer-phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding: 5px 0;
  padding-left: 3px;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.page-footer-phone:hover {
  color: #756157;
}

.page-footer-phone:focus-visible {
  color: #756157;
  outline: none;
}

@supports not selector(:focus-visible) {
  .page-footer-phone:focus {
    color: #756157;
    outline: none;
  }
}

.page-footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.page-footer-copyright {
  display: block;
  width: 115px;
  height: 33px;
  margin-top: 8px;
  color: #000000;
  fill: currentColor;
}

.page-footer-copyright:hover {
  color: #756157;
}

.page-footer-copyright:focus-visible {
  color: #756157;
  outline: none;
}

@supports not selector(:focus-visible) {
  .page-footer-copyright:focus {
    color: #756157;
    outline: none;
  }
}

.page-footer-copyright:active {
  color: rgba(117, 97, 87, 0.3);
}

/* ============ Модальное окно ============ */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 1;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  -webkit-box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-search {
  width: 717px;
}
.modal-close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  background-color: #f2f2f2;
  padding: 0;
  right: 52px;
  width: 52px;
  height: 52px;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus-visible {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px #83b3d3;
  box-shadow: 0 0 0 3px #83b3d3;
}

@supports not selector(:focus-visible) {
  .modal-close-button:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 3px #83b3d3;
    box-shadow: 0 0 0 3px #83b3d3;
  }
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-close-button:active::before,
.modal-close-button:active::after {
  background-color: rgba(36, 36, 36, 0.3);
}

.modal-close-button::before,
.modal-close-button::after {
  position: absolute;
  width: 17px;
  height: 2px;
  background-color: #242424;
  content: "";
}

.modal-close-button::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-close-button::after {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-title {
  margin-bottom: 64px;
}

.modal-search-form {
  display: -ms-grid;
  display: grid;
  row-gap: 23px;
  -ms-grid-columns: auto (110px) [4];
  grid-template-columns: auto repeat(4, 110px);
}

.modal-search-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  padding: 12px 0;
}

.form-label {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-area: 3/3/4/-2;
  margin-left: auto;
  padding-right: 47px;
  padding-left: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.field-group {
  margin: 0;
  padding: 0;
  position: relative;
}

.field-group-in {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-area: 1/2/2/-1;
}

.field-group-out {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-area: 2/2/3/-1;
}

.label-adults {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/4/2;
}

.adults {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/4/3;
}

.kids {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-area: 3/-2/4/-1;
}

.tooltip {
  margin-left: 11px;
}
.tooltip-toggle {
  width: 26px;
  height: 26px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  outline: none;
  cursor: pointer;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #83b3d3;
  fill: currentColor;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #68a2ca;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-toggle:focus-visible .tooltip-icon {
  color: #68a2ca;
  outline: none;
}

@supports not selector(:focus-visible) {
  .tooltip-toggle:focus .tooltip-icon {
    color: #68a2ca;
    outline: none;
  }
}

.tooltip-text {
  position: absolute;
  display: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  top: 100%;
  margin-top: 4px;
  left: -36px;
  border-radius: 10px;
  background-color: #333;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  width: 256px;
  min-height: 143px;
  padding: 20px 18px 18px 22px;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 9px solid #333333;
  top: -9px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.search-form-field {
  width: 440px;
  padding: 10px 50px 8px 20px;
}

.search-form-calendar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 48px;
  width: 60px;
  color: #000000;
  fill: currentColor;
  top: 0;
  right: 0;
  outline: none;
}

.search-form-calendar:hover {
  color: rgba(0, 0, 0, 0.5);
}

.search-form-calendar:focus-visible .search-form-svg {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px #83b3d3;
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 4px;
  outline-offset: 1px;
}

@supports not selector(:focus-visible) {
  .search-form-calendar:focus .search-form-svg {
    outline: none;
    -webkit-box-shadow: 0 0 0 3px #83b3d3;
    box-shadow: 0 0 0 3px #83b3d3;
    border-radius: 4px;
    outline-offset: 1px;
  }
}

.search-form-calendar:active {
  color: #000000;
}

.input-caption {
  display: block;
  font-size: 16px;
  padding-left: 20px;
  margin-top: 4px;
}

.past {
  color: #ff5757;
}

.field-group-persons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.quantity-persons-field {
  padding-bottom: 10px;
  text-align: center;
  line-height: 20px;
}

.quantity-button {
  position: absolute;
  height: 44px;
  width: 30px;
  background-color: #f2f2f2ff;
  border: none;
  border-radius: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateY(-50%);
  padding: 0;
  cursor: pointer;
  outline: none;
}

.button-focus {
  display: block;
  height: 20px;
  width: 20px;
  background-color: #f2f2f2ff;
  border-radius: 4px;
}

.quantity-button:focus-visible .button-focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px #83b3d3;
  box-shadow: 0 0 0 3px #83b3d3;
}

@supports not selector(:focus-visible) {
  .quantity-button:focus .button-focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 3px #83b3d3;
    box-shadow: 0 0 0 3px #83b3d3;
  }
}

.button-minus {
  left: 2px;
  padding-left: 8px;
}

.button-minus::before {
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
  content: "";
  left: 11px;
  top: 21px;
}

.button-plus {
  right: 2px;
  padding-left: 2px;
}

.button-plus::before,
.button-plus::after {
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
  content: "";
  right: 11px;
  top: 21px;
}

.button-plus::after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.quantity-button:hover::before,
.quantity-button:hover::after {
  background-color: #000000;
}

.quantity-button:active::before,
.quantity-button:active::after,
.quantity-button:active::before {
  background-color: rgba(117, 97, 87, 0.3);
}

.modal-search-button {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-area: 4/1/5/-1;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 24px;
  margin-top: 25px;
}
