@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}
/* изменение боксовой модели */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #333333;
  margin: 0;
}
/* Скрытые элементы */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}
/* Обнуление списков */
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* ============ Общие классы ============ */
.button {
  display: inline-block;
  margin: 0;
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.button-light {
  background-color: #82b3d3;
}
.button-transparent {
  background-color: transparent;
}
.field {
  width: 100%;
  height: 48px;
  padding: 12px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}
.field::placeholder {
  /* color: rgba(0, 0, 0, 0.6); */
  color: #000000;
  opacity: 0.6;
}
.page {
}
.page-title {
  margin: 0 0 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}
.page-text {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}
.background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.social-list {
}
.view-list {
}
.navigation-link-current {
}
/* ============ wrapper ============ */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
/* ============ Header ============ */
.page-header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0 70px;
  z-index: 10;
  align-items: center;
}
.page-header-logo {
  width: 140px;
  height: 70px;
  margin-right: 28px;
  display: block;
  margin-bottom: -6px;
}
/* ============ Главное меню ============ */
.navigation {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
}
.navigation-item {
}
.navigation-link {
  padding: 20px 16px;
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}
/* ============ Меню пользователя ============ */
.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
}
.navigation-user-item {
}
.navigation-user-link {
  display: block;
  background-repeat: no-repeat;
  width: 44px;
  min-height: 64px;
  padding: 22px 12px;
  background-position: center;
}
.navigation-user-link-search {
  background-image: url("../img/svg/nav-search.svg");
}
.navigation-user-link-favorite {
  background-image: url("../img/svg/nav-heart.svg");
}
.navigation-button {
  padding: 8px 34px;
  /* width: 160px; */
}
/* ============ Main ============ */
.main {
  flex-grow: 1;
}
.hero {
  min-height: 485px;
  position: relative;
  padding: 50px 70px 60px;
}
.hero-headline {
}
.hero-wallpaper {
}
.hero-welcome {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 458px;
  height: 352px;
  display: block;
}
/* ============ Преимущества ============ */
.card {
  width: 400px;
  min-height: 385px;
  text-align: center;
}
.advantages {
}
.advantages-headline {
}
.chapter-container {
  text-align: center;
}
.advantages .chapter-container {
  padding: 69px 70px 90px;
}
.advantages-title {
  margin-bottom: 25px;
}
.advantages-annotation {
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
}
.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-item:not(.advantages-item-full):nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.122);
}
.advantages-item-full {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #82b3d3;
  color: #ffffff;
}
.advantages-item-full .card-title {
  color: #ffffff;
}
.advantages-item-full .advantages-text {
  padding-top: 102px;
}
.advantages-text {
  padding: 113px 85px 102px;
}
.card-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 0 30px;
}
.advantages .card-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.advantages-item-full .card-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.card-text {
  margin: 0;
  line-height: 21px;
}
.advantages-image {
}
.advantages-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.advantages-item-reverse {
  flex-direction: row-reverse;
}
/* ============ Сервис ============ */
.services {
}
.services .chapter-container {
  padding: 64px 70px;
}

.services-headline {
}
.services-title {
}
.services-annotation {
}
.services-list {
  display: flex;
  flex-wrap: wrap;
}
.services-item {
  background-color: rgba(131, 179, 211, 0.12);
  background-repeat: no-repeat;
  background-position: top 81px center;
}
.services-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}
.services-item-home {
  background-image: url("../img/svg/home.svg");
}
.services-item-food {
  background-image: url("../img/svg/food.svg");
}
.services-item-souvenirs {
  background-image: url("../img/svg/souvenir.svg");
}
.services-text {
  padding: 183px 85px 80px 85px;
}
/* ============ Поиск гостиниц ============ */
.search-form {
  text-align: center;
  padding: 96px 70px;
}

.search-form-headline {
}
.search-form-title {
}
.search-form-annotation {
  margin-bottom: 54px;
}
.search-form-button {
  font-size: 20px;
  line-height: 36px;
}
/* ============ Страница каталога ============ */
.main-inner {
}
.inner-header {
  padding: 35px 70px 70px;
  background-image: url(../img/background-inner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #82b3d3;
  color: #ffffff;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0 0 8px;
}
/* ============ Хлебные крошки ============ */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}
.breadcrumbs-item:not(:last-child) {
  position: relative;
  margin-right: 28px;
}
.breadcrumbs-item:not(:last-child)::after {
  content: "";
  background-image: url("../img/svg/arrow-right.svg");
  background-position: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -17px;
  width: 6px;
  height: 10px;
}
.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link-home {
  display: block;
  background-image: url("../img/svg/house-breadcrumbs.svg");
  width: 13px;
  height: 15px;
  text-align: center;
  background-position: center;
}
.breadcrumbs-link-current {
}
/* ============ Фильтры ============ */
.catalog-filters {
}
.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}
.catalog-filter-group {
  margin: 0 70px 0 0;
  padding: 0;
  border: none;
}
.catalog-filter-group-checkbox {
}
.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
}
.catalog-filter-list {
}
.control-list {
}
.control-item:not(:last-child) {
  margin-bottom: 16px;
}
.control-label {
  cursor: pointer;
}
.control-input {
}
.control-text {
  line-height: 23px;
}
/* ============ Движки ============ */
.catalog-filter-group-radio {
  margin-right: auto;
}
.catalog-filter-group-prise {
  width: 100%;
  max-width: 288px;
}
/* гриды */
.price-input-container {
  display: flex;
  flex-wrap: wrap;
}
.price-item {
  position: relative;
}
.price-item:not(:last-child) {
  margin-right: 2px;
}
.price-label {
  color: rgba(0, 0, 0, 0.3);
  line-height: 24px;
  position: absolute;
}
.price-label[for="price-min"] {
  padding: 12px 20px 12px 107px;
}
.price-label[for="price-max"] {
  padding: 12px 20px 12px 104px;
}
.price-input {
  border: none;
  width: 143px;
  padding: 12px 20px;
}
.price-min {
  border-radius: 4px 0 0 4px;
}
.price-max {
  border-radius: 0 4px 4px 0;
}
.price-range-control {
}
.price-range-slider {
}
.price-range-progress {
}
.price-range-input {
}
.range-label {
}
.range-min {
}
.range-max {
}
.catalog-filter-group-buttons {
  margin: 0;
  max-width: 191px;
  text-align: center;
}
.filter-cubmit {
  margin: 56px 0 32px 0;
}
.filter-reset {
}
/* ============ Результаты ============ */
.catalog-outcome {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px 70px 40px;
}
.outcome {
}
.outcome-title {
}
.outcome-subtitle {
  text-align: left;
  margin-right: auto;
  margin-bottom: 0;
}
.outcome-found {
}
.outcome-select {
  width: 292px;
  height: 49px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  cursor: pointer;
  padding: 10px 40px 10px 18px;
  background-image: url("../img/svg/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  /* убираем стрелочку у select */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin-right: 70px;
}

.outcome-select-option {
}
.outcome-view {
  display: flex;
  flex-wrap: wrap;
}
.view-item:not(:last-child) {
  margin-right: 8px;
}
.view-link {
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}
.view-link-tile {
  background-image: url("../img/svg/view-tile.svg");
}
.view-link-current {
  border-color: #000000;
}

.view-link-slide {
  background-image: url("../img/svg/view-slide.svg");
}
.view-link-list {
  background-image: url("../img/svg/view-list.svg");
}
/* ============ Каталог гостиниц ============ */
.catalog-hotels {
}
.catalog-hotels-title {
}
.catalog-hotels-list {
  padding: 0 70px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
}
.catalog-hotels-list::after {
  content: "";
  display: block;
  width: 1060px;
  height: 1px;
  background-color: #e6e6e6;
  margin: 20px 0 40px 0;
}
.catalog-hotels-item {
}
.hotel-card {
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  max-width: 340px;
  height: 438px;
  padding: 20px;
  margin: 0 20px 20px 0;
}
.hotel-card:nth-child(3n) {
  /* margin-right: 0; */
}
.hotel-card .button {
  width: 140px;
  padding: 8px 18px;
  margin-bottom: 16px;
}
.hotel-card-link {
  text-decoration: none;
}
.hotel-card-image {
  display: block;
  width: 300px;
  height: 212px;
  margin-bottom: 16px;
}
.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  margin: 0 0 16px 0;
}
.catalog-text {
  display: inline-block;
  margin: 0 0 16px 0;
}
.hotel-card-type {
}
.hotel-card-price {
  float: right;
}
.card-more {
  display: inline-block;
}
.card-favorite {
  display: inline-block;
  float: right;
}
.hotel-card-stars {
  display: inline-block;
  width: 140px;
  padding: 10px 0;
}
.hotel-card-stars-item {
  display: inline-block;
  background-image: url("../img/svg/star.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
}
.hotel-card-rating {
  width: 140px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 8px 22px;
  float: right;
}
.card-favorite-current {
  background-color: #7db54f;
}
/* ============ Пагинация ============ */
.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0 70px;
  margin-bottom: 60px;
}

.pagination-item {
  margin-right: 8px;
}
.pagination-item:last-child {
  margin-right: 0;
}
.pagination-link {
  display: inline-block;
  min-width: 60px;
  max-width: 200px;
  min-height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  padding: 12px;
  text-align: center;
}
.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}
.pagination-link-dots {
  background-color: transparent;
  color: #000000;
}
/* ============ Подписка ============ */
.subscribe {
  text-align: center;
  padding: 96px 70px 104px;
}
.subscribe-index {
  background-image: url("../img/background-subscribe.jpg");
  background-size: cover;
  background-color: #5c84ab;
  background-repeat: no-repeat;
  color: #ffffff;
}
.subscribe-headline {
}
.subscribe-title {
}
.subscribe-index .subscribe-title {
  color: #ffffff;
}
.subscribe-annotation {
  margin-bottom: 54px;
}
.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 684px;
  margin: 0 auto;
}
.subscribe-input::placeholder {
  font-weight: 400;
}
.subscribe-input {
  border-radius: 4px 0 0 4px;
  height: 100%;
}
.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  width: 232px;
}
/* ============ Подвал ============ */
.page-footer {
  padding: 45px 70px 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.page-footer-social {
  display: flex;
  flex-wrap: wrap;
}
.social-item {
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 41px;
  color: #83b3d3;
}
.social-link-vk img {
  display: block;
  width: 24px;
  height: 14px;
}
.social-link-tg img {
  display: block;
  width: 18px;
  height: 16px;
}
.social-link-yt img {
  display: block;
  width: 22px;
  height: 17px;
}
.page-footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.contacts-phone {
}
.page-footer-copyright {
}
.page-footer-copyright img {
  display: block;
  width: 115px;
  height: 33px;
}
