@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}
/* изменение боксовой модели */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #000000;
}
/* ???????????????? */
/* Скрытые элементы */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Обнуление списков */
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* ============ Общие классы ============ */
.button {
  display: inline-block;
  margin: 0;
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.button-light {
  background-color: #82b3d3;
}
.button-transparent {
  background-color: transparent;
}
.field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 48px;
}
.card {
  width: 400px;
  min-height: 385px;
  text-align: center;
}
.page {
}
.page-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}
.page-text {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}
.background {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.social-list {
}
.view-list {
}
.navigation-link-current {
}
/* ============ wrapper ============ */
.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
/* ============ Header ============ */
.page-header {
}
.page-header-logo {
}
/* ============ Главное меню ============ */
.navigation {
}
.navigation-list {
}
.navigation-item {
}
.navigation-link {
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}
/* ============ Меню пользователя ============ */
.navigation-user {
}
.navigation-user-list {
}
.navigation-user-item {
}
.navigation-user-link {
  display: block;
  background-repeat: no-repeat;
  width: 44px;
  height: 64px;
  padding: 22px 12px;
}
.navigation-user-link-search {
  background-image: url("../img/svg/nav-search.svg");
}
.navigation-user-link-favorite {
  background-image: url("../img/svg/nav-heart.svg");
}
.navigation-button {
}
/* ============ Main ============ */
.main {
}
.hero {
}
.hero-headline {
}
.hero-wallpaper {
}
.hero-welcome {
}
/* ============ Преимущества ============ */
.advantages {
}
.advantages-headline {
}
.chapter-container {
  text-align: center;
}
.advantages-title {
}
.advantages-annotation {
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
}
.advantages-item {
  background-color: rgba(131, 179, 211, 0.122);
}
.advantages-item:not(.advantages-item-full):nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-item-full {
  display: flex;
  width: 100%;
  background-color: #82b3d3;
  color: #ffffff;
}
.advantages-item-full .card-title {
  color: #ffffff;
}
.advantages-text {
  padding: 115px 85px 100px;
}
.card-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}
.card-text {
  margin: 0;
}
.advantages-image {
}
.advantages-image img {
  height: 100%;
}
.advantages-item-reverse {
  flex-direction: row-reverse;
}
/* ============ Сервис ============ */
.services {
}
.services-headline {
}
.services-title {
}
.services-annotation {
}
.services-list {
  display: flex;
  flex-wrap: wrap;
}
.services-item {
  background-color: rgba(131, 179, 211, 0.122);
  background-repeat: no-repeat;
  background-position: top 80px center;
}
.services-item:nth-child(2n) {
  background-color: #ffffff;
}
.services-item-home {
  background-image: url("../img/svg/home.svg");
}
.services-item-food {
  background-image: url("../img/svg/food.svg");
}
.services-item-souvenirs {
  background-image: url("../img/svg/souvenir.svg");
}
.services-text {
  padding: 85px 85px;
}
/* ============ Поиск гостиниц ============ */
.search-form {
  text-align: center;
}
.search-form-headline {
}
.search-form-title {
}
.search-form-annotation {
}
.search-form-button {
  font-size: 20px;
  line-height: 36px;
}
/* ============ Страница каталога ============ */
.main-inner {
}
.inner-header {
  padding: 35px 70px 70px;
  background-image: url(../img/background-inner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82b3d3;
  color: #ffffff;
  margin-bottom: 50px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}
/* ============ Хлебные крошки ============ */
.breadcrumbs {
  display: flex;
}
.breadcrumbs-item:not(:last-child)::after {
  content: url("../img/svg/arrow-right.svg");
  width: 6px;
  height: 10px;
}
.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}
.breadcrumbs-link-home {
  display: block;
  background-image: url("../img/svg/house-breadcrumbs.svg");
  width: 13px;
  height: 15px;
}
.breadcrumbs-link-current {
}
/* ============ Фильтры ============ */
.catalog-filters {
}
.catalog-filter {
  display: flex;
}
.catalog-filter-group {
  border: none;
}
.catalog-filter-group-checkbox {
}
.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}
.catalog-filter-list {
}
.control-list {
}
.ccontrol-item {
}
.control-label {
  cursor: pointer;
}
.control-input {
}
.control-text {
  line-height: 23px;
}
.control-item {
}
/* ============ Движки ============ */
.catalog-filter-group-radio {
}
.catalog-filter-group-prise {
}
.price-input-container {
}
.price-item {
}
.price-label {
  color: rgba(0, 0, 0, 0.3);
  line-height: 24px;
}
.price-input {
  border: none;
}
.price-min {
  border-radius: 4px 0 0 4px;
}
.price-max {
  border-radius: 0 4px 4px 0;
}
.price-range-control {
}
.price-range-slider {
}
.price-range-progress {
}
.price-range-input {
}
.range-label {
}
.range-min {
}
.range-max {
}
.catalog-filter-group-buttons {
}
.filter-cubmit {
}
.filter-reset {
}
/* ============ Результаты ============ */
.catalog-outcome {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0px 70px;
}
.outcome {
}
.outcome-title {
}
.outcome-subtitle {
  text-align: left;
  margin-right: auto;
}
.outcome-found {
}
.outcome-select {
  width: 292px;
  height: 49px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  cursor: pointer;
  padding: 14px 20px;
  /* убираем стрелочку у select */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin-right: 70px;
}
.outcome-select-option {
}
.outcome-view {
  display: flex;
}
.view-item:not(:last-child) {
  margin-right: 8px;
}
.view-link {
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}
.view-link-tile {
  background-image: url("../img/svg/view-tile.svg");
}
.view-link-current {
  border-color: #000000;
}

.view-link-slide {
  background-image: url("../img/svg/view-slide.svg");
}
.view-link-list {
  background-image: url("../img/svg/view-list.svg");
}
/* ============ Каталог гостиниц ============ */
.catalog-hotels {
}
.catalog-hotels-title {
}
.catalog-hotels-list {
}
.catalog-hotels-item {
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}
.hotel-card {
}
.hotel-card-link {
  text-decoration: none;
}
.hotel-card-image {
}
.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}
.catalog-text {
}
.hotel-card-type {
}
.hotel-card-price {
}
.card-more {
}
.card-favorite {
}
.hotel-card-stars {
}
.hotel-card-stars-item {
  display: block;
  background-image: url("../img/svg/star.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
}
.hotel-card-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}
.card-favorite-current {
  background-color: #7db54f;
}
/* ============ Пагинация ============ */
.pagination {
}
.pagination-item {
}
.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}
.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}
.pagination-link-dots {
  background-color: #ffffff;
  color: inherit;
  cursor: auto;
}
/* ============ Подписка ============ */
.subscribe {
  text-align: center;
}
.subscribe-index {
  background-image: url("../img/background-subscribe.jpg");
  background-size: cover;
  background-color: #5c84ab;
  background-repeat: no-repeat;
  color: #ffffff;
}
.subscribe-headline {
}
.subscribe-index .subscribe-title {
  color: #ffffff;
}
.subscribe-annotation {
}
.subscribe-form {
}
.subscribe-form input::placeholder {
  font-weight: 400;
  color: #000000;
  opacity: 0.6;
}
.subscribe-input {
  border-radius: 4px 0 0 4px;
  border: none;
}
.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  border: none;
}
/* ============ Подвал ============ */
.page-footer {
}
.page-footer-social {
}
.social-item {
}
.social-link {
  display: block;
  width: 48px;
  height: 41px;
  color: #83b3d3;
}
.social-link-vk {
  /* background-repeat: no-repeat;
  width: 24px;
  height: 14px; */
}
.social-link-tg {
  /* background-repeat: no-repeat;
  width: 18px;
  height: 16px; */
}
.social-link-yt {
  /* background-repeat: no-repeat;
  width: 22px;
  height: 17px; */
}
.page-footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.contacts-phone {
}
.page-footer-copyright {
}
